In [17]:
import pandas as pd

# 1.1
## 1
Working with Lake Trout Dataset from U.S. Geological Survey, Alaska Science Center

Each Column of data represented in the dataset:

FishID        - object

ReplicateID   - object

Axis          - object

Lake          - object

Year          - int 64

Age           - int 64

Width         - float 64

FishID does not name a specific fish, but instead gives a number that corresponds to a species of fish.

## 2

Information potentially pertinent to this report:

The only known omissions from this report were the 171 of 251 total lake trout caught that were not included because they had otolith growth increments that were not clear enough for growth measurements.

Lake Trout were captured from seven lakes in Lake Clark NPP in the headwaters of Bristol Bay and Kuskokwim Bay in southwest Alaska. Lake Trout were captured using variable mesh floating and sinking gillnets or hook and line sampling in 2004 and 2011–2013 during the summer (June–September) as described in Kreiner (2006).

In [19]:
df = pd.read_csv(r"../input/lake-trouts/lakeTrout_otolithGrowth_LakeClarkNP_vonBiela_1979_2012.csv")
print(df)

In [20]:
print(df.dtypes)

# 1.2

## 1

There are 2403 rows and 7 Columns of data

## 2

In [21]:
df.tail()

In [47]:
df.columns

In [48]:
pd.Series = df.columns

## 3 Convert all of the column names to lower case.

## 4 Are there any duplicate rows in this dataset? If so, drop them. What explains duplicate rows?

## 5 How many distinct fish are being studied in this dataset?


# 1.3: Descriptive Statistics
 
 Perform some common descriptive statistics on the data. What conclusions can you draw from steps 1-5 about the data?

## 1 Run .describe(). Does this output align with what the data dictionary says about max/min values for year and age?

## 2 Find the max and min values of the age column using at least one other method besides .describe().

## 3 For the year column, run .value_counts() and .hist(). Compare and constrast both techniques.

## 4 Produce histograms for the age and width columns in addition to year.

## 5 For the lake column, run .value_counts().

In [ ]:
fruits[2]

In [ ]:
fruits[2] = 'kiwi'

In [ ]:
fruits

## `pd.Series` constructor
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html

In [ ]:
# floats
temperature = pd.Series([32.6, 34.1, 28.0, 35.9], index = ["a","b","c","d"], name="temperatures of fruit")

In [ ]:
temperature

## Getting & setting

In [ ]:
temperature[2]

In [ ]:
temperature['c']

# Working with `pd.DataFrame`

In [ ]:
temperature.index

In [ ]:
fruits.index

## Changing an index

In [ ]:
fruits.index = temperature.index

In [ ]:
temperature.index

In [ ]:
fruits.index

## Creating a DataFrame from multiple Series

In [ ]:
data = {
    'fruit': fruits,
    'temps': temperature,
}

df = pd.DataFrame(data, index=fruits.index)

In [ ]:
df

### Renaming columns in a DataFrame

In [ ]:
df.columns

In [ ]:
df.columns = [x.upper() for x in df.columns]

In [ ]:
df

## Converting DataFrames

In [ ]:
# convert DataFrame into Series
df['FRUIT']

In [ ]:
# make new DataFrame (subset) of another DataFrame
columns = ['FRUIT']

df[columns]

## Filtering DataFrames
https://chrisalbon.com/code/python/data_wrangling/filter_dataframes/

In [ ]:
df

In [ ]:
df['TEMPS'] < 30

In [ ]:
temps_under_30 = df['TEMPS'] < 30

In [ ]:
df[ temps_under_30  ]